/* styles.css */
<head>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>
:root {
  /* CSS HEX */
--dust-grey: #dad2d8ff;
--jet-black: #143642ff;
--dark-cyan: #0f8b8dff;
--golden-orange: #ec9a29ff;
--mahogany-red: #a8201aff;
}

body {
  background-color: var(--dust-grey);
}
h1 {
  color: var(--jet-black);
  font-family: 'Amiri', serif;
}

.col{
  border: 1px solid red;
}
h3 {
  font-family: playfair-display;
}
h2 {
  font-family: playfair-display;
}
